/* style.css */

.root {
  display: flex;
  padding: 136px;
  align-items: center;
}

.image {
  width: 825px;
  height: 542px;
  margin-right: 16px;
  margin-top: -561px;
}

.smallerImage {
  width: 400px;
  height: 283px;
  margin-right: 8px; /* تخصيص المسافة بين الصور الصغيرة */
}

.aboutSection {
  margin-top: 16px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ownerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 11px 12px;
  padding: 16px;
  border: 2px solid #24AB70;
  border-radius: 4px;
  width: 380px;
}
.bottom-side{
  display: inline-block;

    position: relative;
    top: -667px;
    left: 130px;
}
p{
  width: 633px;
  line-height: 37px;
}
.info{
  width: 196px;
    margin: 13px;
}
h4{
  color: #24AB70;
    text-transform: uppercase;
}
