.img-hero{
  position:relative;
  width: 100vw;
  height: 500px;

}
.head-hero{
position:absolute;
top: 352px;
left: 89px;
}
.hero-part{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: relative; */
}
form{
  border-radius: 5px;
  position: absolute;
  top: -129px;
  
  width: 810px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input{
  background-color: #fff;
  width:340px;
  height: 50px;
  border: none;
  outline: none;
  padding:0 25px;
  border-radius: 25px 0 0 25px;
  border:1px solid #24AB70;
  box-shadow: 2px -2px 2px  #24AB70 ;
  
}
form button{
  border-radius:0 25px 25px 0;
  width:142px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #24AB70;
  cursor: pointer;
  color:#fff;
  right:96px;

}
.card-style{
  /* display: flex;
  margin-top: 37px;
  justify-content: space-between;
  flex: '0 0 calc(33.333% - 16px)'; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 102px;

}
/* .search-bar{
  position: absolute;
  top: 167px;
  left: 54px;
} */
