.map-icon{
  color: #24AB70;
  margin-bottom: -16px;
  padding: 10px;
}
.loc-text{
  color:#A9A5A5;
}
.btn-more{
  background-color: #24AB70;
  border-radius: 50px;
  color:#fff;
  width: 150px;
  text-decoration: none;
}
.btn-content{
  display: flex;
    justify-content: space-around;
    gap: 200px;

}
.icon:hover{
  color: #24AB70;
}
.link-text{
  text-decoration: none;
  color:#fff;
}


.css-ky44ew-MuiCardContent-root {
    flex-direction: column !important;
}