.copyright{
    margin-top: 10px;
    background-color: #24AB70;
    height: 50px;
    width: 100%;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
  
}